.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @extend %sidePadding-small;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background: $c-black;
  color: $c-white;

  &__title {
    font-size: 0.8rem;

    span {
      font-weight: bold;
    }
  }

  &__logo {
    width: 3rem;
    filter: invert(1);
  }
}
